<h1>Welcome to Rock, Paper, Scissors!</h1>
<form action="/tamagotchi">

  <div class="form-group">
     <label for="name">Give your Tamagotchi a name!</label>
     <input id="name" name="name" class="form-control" type="text">
   </div>
   <div class="form-group">
     <label for="play">You have 10 mins before work. How many mins can you play (choose 0-10)?</label>
     <input id="play" name="play" class="form-control" type="text">
  </div>
  <div class="form-group">
     <label for="sleep">It's time for a nap. How many hours should they nap (choose 0-10)?</label>
     <input id="sleep" name="sleep" class="form-control" type="text">
   </div>
   <div class="form-group">
      <label for="feed">It's time to eat. How many bottles do you want to give your pet (choose 0-10)?</label>
      <input id="feed" name="feed" class="form-control" type="text">
    </div>


  <button type="submit" class="btn-success">Submit!</button>
</form>
